.git
.github
.gitignore
.mission
go.work
go.work.sum
README.md

**/*.log
**/*.db
**/*.sqlite
**/*.sqlite3

logs
data
tmp
dist/*
!dist/hideck_*
design-system
old
output

web/node_modules
web/dist
web/prototypes

internal/web/dist

**/.DS_Store
